.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
}

.header_left {
    flex: 0.5;
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    color: gray;
    align-items: center;
}

.header_left>input {
    border: none;
    width: 100%;
}

.header_left>input:focus {
    outline: none;
}

.header_right .text {
    margin-left: 10px !important;
    color: white !important;
}

.header_right button {
    padding: 0px;
}